*{
    box-sizing: border-box;
}
.presentationEsprit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titrePage{
    width: auto;
    height: auto;
    padding: 0 auto;
    margin: auto;
    text-align: center;
    color: var(--varColorMarron);
    
}
.EspritDiakonia img{
    position: absolute;
    display: block;
    right: 2%;
    top: -30%;
    height: 12vh;
    
}

.Esprit{
    font-family: var(--varDiakoniaSubFont);
    font-size: clamp(1rem, 2rem, 5rem);
}
.EspritDiakonia{
    font-family: var(--varDiakoniaFont);
    font-size: clamp(1rem, 3.4rem, 6rem);
    /* important pour placer l'img en fonction de son conteneur */
    position: relative;
}
.sloganEsprit{
    font-family: var(--varDiakoniaPoiret);
    font-size: clamp(1rem, 2rem, 5rem);
}
.tblDiakonia{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    padding: 2% 0 0 0;
    margin: 0;
    width: 80%;
    
}


/* column 1 */
.D{    grid-row: 1; grid-column: 1;}
.I{    grid-row: 2; grid-column: 1;}
.A{    grid-row: 3; grid-column: 1;}
.K{    grid-row: 4; grid-column: 1;}
.O{    grid-row: 5; grid-column: 1;}
.N{    grid-row: 6; grid-column: 1;}
.I1{   grid-row: 7; grid-column: 1;}
.A1{   grid-row: 8; grid-column: 1;}
/* contenu */
.D2{    grid-row: 1; grid-column: 2;}
.I2{    grid-row: 2; grid-column: 2;}
.A2{    grid-row: 3; grid-column: 2;}
.K2{    grid-row: 4; grid-column: 2;}
.O2{    grid-row: 5; grid-column: 2;}
.N2{    grid-row: 6; grid-column: 2;}
.I22{   grid-row: 7; grid-column: 2;}
.A22{   grid-row: 8; grid-column: 2;}

.D, .I1, .A1, .K, .O, .N, .I, .A {
    justify-items: center;
    align-self: center;
    font-family: var(--varDiakoniaFont);
    font-size: clamp(0.875rem, 2.5rem, 5rem);
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 1;
    
}
.D2,.I2,.A2,.K2,.O2,.N2,.I22,.A22{
    font-size: clamp(0.875rem, 1rem, 5rem); 
    font-family: var(--varDiakoniaSubFont);  
    align-self: center;
    padding: 2% 0 0 4%;
    margin: 0;
    line-height: 1;
    
    
}
.D2 span,.I2 span,.A2 span,.K2 span,.O2 span,.N2 span,.I22 span,.A22 span{
    background-image: url(image/highlight/esprit-diakonia-highlight-gris.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: auto;
    
    
}
.tblDiakonia img{
    object-fit:cover;
    grid-column: 1;
    grid-row: 1/8;
    width: 6vw;
    height: 120%;
    overflow: visible;
}

/* section qui est derriere */
.quiEstDerriereD{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35vh 40vh;
    width: auto;
    padding: 2% 0;
}
.gImageD{
    grid-column: 2;
    grid-row: 1/2;
    /* pour une image responsive max-width et height auto pour garder les proportions */
    height: auto;
    max-width: 60%;
    justify-self: flex-end;
    margin: 2%;
    
}
.bulleQuiEst{
    grid-row: 1;
    grid-column: 1;
    height: 70%;
    width: auto;
    margin: 2%;
}
.gPicto{
    grid-row: 2;
    grid-column: 1;
    height: auto;
    max-width: 35%;
    align-self: flex-end;
    margin: 0;
}
.contenuQuiEstD{
    grid-column: 1/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    text-align: justify;
    border-radius: 1vh;
    padding:  0 1%;
    margin: 4vw;
    backdrop-filter: blur(1px);
    transition: all 0.2s ease-in-out;

}
.contenuQuiEstD h2{
    font-family: var(--varDiakoniaPoiret);
    letter-spacing: 4px;
    font-weight: lighter;
    font-size: clamp(1rem, 2.6rem, 5rem);
    color: var(--varColorMarron);
}
.contenuQuiEstD p{
    font-family: var(--varDiakoniaPoiret);
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: clamp(0.5rem, 1rem, 2rem);
    color: var(--varColorMarron);
    
}
.contenuQuiEstDPositionHaut{
    justify-self: center;
    align-self: flex-start;
    margin: 8% 0 0 0;
    padding: 2%;
    width: 40%;
    text-align: center;
    height: max-content;
}
.contenuQuiEstDPositionGauche{
    justify-self: flex-start;
    align-self: center;
    margin: 0 3%;
    width: 70%;
}
.contenuQuiEstDPositionCentre{
    justify-self: center;
    align-self: flex-end;
    width: 70%;
    margin: 2% 0 1% 0;
}

.contenuQuiEstD:hover{
    background-color: rgba(227, 202, 173, 0.195);
    border-radius: 1vh;
    transform: scale(1.07);
    backdrop-filter: blur(4px);
    box-shadow: rgba(138, 128, 108, 0.325) 0px 1px 5px;
    transition: all 0.2s ease-in-out;
    

    position: relative;
    z-index: 5;
}
@media(max-width:601px){
    .quiEstDerriereD{
        display: flex;
        flex-direction: column;
    }
    .gImageD{
        align-self: center;
    }
    .contenuQuiEstD{
        max-width: 100%;
        transform: translateX(0);
    }
}

