footer{
    width: 100%;
}
.bandeauFooter{
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100%;
}

.suivezNous {
    color: var(--varColorMarron);
    
    font-family: var(--varDiakoniaSubFont);
    text-transform:uppercase;
    padding: 0;
    margin: 0;
}
.instLink{
    background-color: var(--varColorMarronPaleBis);
    padding: 0.9% 0 0.9% 5%;
    text-align: left;
    display: flex;
    justify-items: center;
    align-items: center;
    
}
.instLink a{
    display: flex;
    gap: 1%;
    text-decoration: none;
    width: auto;
}

.instLink a:hover{
    outline: var(--varColorMarron) solid 1px;
    border-radius: 5vh;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 10px var(--varColorMarronTransparent);
    transition: all 0.3s ease-in-out;
}

.instLink img {
    height: 35px;
    padding: 2%;
}
.bandeauInfo{
    background-color: var(--varColorBeigeClairBis); 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1%;
    margin: 0;
    
    
}
.footerRegion{
    font-family: var(--varDiakoniaSubFont);
    text-transform:uppercase;
    color: var(--varColorMarronPale);
    text-align: center;

}
.contactMail{
    color: var(--varColorMarronPale);
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: clamp(1rem, 1.3vw, 1.2rem);
    

}
.contactFooterRegion{
    font-family: var(--varDiakoniaSubFont);
    text-transform:uppercase;
    color: var(--varColorMarronPale);
    text-align: center;
    margin-bottom: 0;
}
.contactFooter{
    display: grid;
    grid-template-rows: auto auto;
}

@media(max-width:800px){
    .bandeauInfo{
        display: flex;
        flex-direction: column;
    }
    .logoFooter{
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .instLink a{
        align-self: center;
    }
    .agenceEventAuvergne{
        display: flex;
        justify-content: center;

    }
    .footerRegion{
        padding: 0 0.5% 0 0.5%;
    }
}
