
   .bandeau{
    top: 0;
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    left: 0;
    position: fixed;
    z-index: 1000;
    padding: 0;
    margin: 0;
   }
   .bandeauMain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    border: var(--varColorOrangeClair);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter:blur(12px);
    outline: rgba(255, 255, 255, 0.5) solid 1px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 2px 10px;
    
  
   }
   .menu{
    justify-self: center;
    align-self: center;
    
   }
   .logo{
    justify-self: center;
    align-self: center;
    height: 100%;
    max-height: 100px;
   }
   .logo img {
    max-height: 100%;
   }

   .menu-toggle {
      width: 55px;
      height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      transition: transform 0.5s ease;

      margin: 9px;
      padding: 9px;
      /* Perspective pour accentuer la 3D */
      transform-style: preserve-3d;
      transform-origin: center;
     
    }
    .menu-toggle:hover{
      background-color: var(--varColorMarronClairTransparent);
      transition: all 0.2s ease-in-out;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
    }
    /* Chaque barre du menu hamburger */
    .menu-toggle span {
    
      display: block;
      align-items: center;
      height: 4px;
      width: 100%;
      background-color: var(--varColorMarron);
      border-radius: 2px;
      transition: background-color 0.5s ease;
    }
        /* Animation de rotation sur menu actif */
    .menu-toggle.active {
      transform: rotate(180deg);
      
    }

    /* Optionnel : changement de couleur au clic */
    .menu-toggle.active span {
      background-color: var(--varColorOrangeClair);
    }
    .list-menu{
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        display: flex; 
        align-items:flex-start;
        flex-direction: column;
        background-color: rgba(255, 252, 252);
        outline: var(--varColorMarronTransparent) solid 1px;

        gap: 1px; 
        
        border-radius: 15px;
        width: 100%;
        padding: 0;
        font-family: var(--varDiakoniaPoiret);
        color: var(--varColorMarron);
    
        font-weight: bolder;
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
        letter-spacing: 2px;
        
        cursor: pointer;
    
        
        transform-origin: top;
        transform: scaleY(0);
        
        max-height: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease;
        width: 30%;
        position: absolute;
        top: 100%;
        left: 1%;
        z-index: 999;
        

        
    }

    .list-menu.active{
    
    overflow: visible;
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transform: translateY(10);
    transition: all 0.4s ease-in-out ;
    
    position: relative;
    z-index: 999;
    padding: 0;
        
    }
    
 
 .itemMenu {
    display: block;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;       /* supprime le soulignement du lien */
    color: inherit;              /* garde la couleur héritée */
    padding: 10px 20px;
    
    font-family: var(--varDiakoniaPoiret);

    
 }

.itemMenu:hover{
  background-color: var(--varColorOrangeClair);
  color: white;
  transform: scale(1.03);
  border-radius: 15px;
  transition: transform 0.1s ease-in-out;

}

.itemMenu:active{
  outline: var(--varColorOrangeBrun) 1px solid;
  transform: scale(0.98);
  transition: transform 0.2s ease;

  
}
.boutonRapide{
    display: grid;
    grid-template-rows: auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: flex-end;
    
}
.bouton-tete{
    display: block;
    align-content: center;
    text-align: center;
    padding: 0 5px 0 5px;
    background-image: url('image/highlight/btn-menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--varColorMarron);
    height: 3.5rem;
    font-size: 1rem;
    width: 70%;
}
.bouton-tete h3{
  font-family: var(--varDiakoniaPoiret);
  text-align: center;
  font-size: 1rem;
}

.bouton-tete:hover{
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}
.menuFormatMobile{display: none;}
.menuFormatBureau{display: block;}

.titrePage{
    width: auto;
    height: auto;
    padding: 0 auto;
    margin: 0;
    text-align: center;
    color: var(--varColorMarron);
    
}

.sloganEsprit{
    font-family: var(--varDiakoniaPoiret);
    font-size: clamp(1.3rem, 2vw, 5rem);
}

@media (max-width: 600px) {
.boutonRapide{display: none;}
.menuFormatMobile{display: block;}
.menuFormatBureau{display: none;}

.bandeau {
  width: 100%;
  display: flex;
  position: fixed;  
}

.bandeauMain {
  display: flex; 
  justify-content: flex-start;
  height: 100px;
  width: 100%;
}
.logo{
  
margin-left: 10%;
}
.menu{
  width: 25vw;
}
.logo img{
  width: auto;
  height: 100%;
}


.list-menu {
  top: 0; /* commence juste sous le bandeau */
  left: 0;
  width: 100%;
  
  visibility: hidden;
  transition: all 0.5s ease;

  background-color: #fff6f1;
  
  
  display: grid;
  grid-template-rows: 110px 90px 80px auto auto auto  1fr;
  
}
.list-menu div{
    padding: 2%;
    
}
.list-menu div a{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.list-menu div h1{
    
    justify-self: center;
    background-color: var(--varColorMarronTransparent);
    padding: 0 4%;
    border-radius: 10px;
    outline: rgb(255, 255, 255) solid 1px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 2px 10px;;

    font-size: var(--varTitleSize);
}

.list-menu div a img{
  object-fit: scale-down;
  height: 20vh;
  width: auto;
  justify-self: center;
}
.list-menu.active {
  left: 0;
  margin: 0;
  padding: 0;
  height: 105vh;
  border-radius: 0;
  position: absolute;
  z-index: 999;
  visibility: visible;
  transition: all 0.5s ease; 
}
.itemMenu{
  font-size: var(--varSubTitleSize);
  text-align: center;
}
#menuToggleMobile{
  position: absolute;
  z-index: 1000;
}
 
  .menu, .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
  }
  

  .menu-toggle {
    padding: 0;
    margin: 0;
    width: 75px;
    height: 70px;
  }
  .menu-toggle span{
    position: relative;
    z-index: 5000;
    height: 4px;
  }
  .menu-toggle:hover{
    padding: 0;
    margin: 0;
    border-radius: 1px;
  }
  .menu-toggle.active{
    padding: 0;
    margin: 0;

  }

#closeMenuMobile {
    position: absolute;
    top: 4%;
    left: 8%;
    z-index: 2000;

    background: none;
    outline: none;
    font-size: 2rem;
    color: var(--varColorMarron);
    cursor: pointer;

    transition: transform 0.25s ease;
    outline: var(--varColorMarronTransparent) solid 3px;
    border: none;
    border-radius: 50px;
    padding: 0 1.5%;
    line-height: 1.2;
    margin: 0;
    font-weight: bolder;
}

}